ul {
    list-style-type: none;
    margin-left: 0;
}

.calcButton {
    margin-left: 1%;
    margin-top: 2%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.courseContainer {
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}
