body {
    background: lightgray;
}

head {
    background: lightgray;
}

html {
    background: lightgray;
}

.subtitle {
    font-size: smaller;
}

.title {
    display: block;
}

.headerToolbar {
    margin: auto;
}